#sidebar {
    z-index: 2000;

    .nav-label {
        width: 4em;
        text-align: right;
        vertical-align: middle;
        height: unset;
        margin: auto 0;
    }

    .wrapper {
        background-color: white;
        padding: 0;
        display: flex;
        overflow-y: auto;
    }

    .col {
        flex-direction: column;
    }

    .swap-button {
        align-self: center;
        transform: rotate(90deg);
    }

    .input-wrapper {
        flex-direction: column;
        flex-grow: 1;
    }

    .header-wrapper {
        margin-top: 0.8em;
    }

    h2 {
        margin: 0;
    }

    .button {
        font-size: 12pt;
        width: 40px;
    }

    .push-right {
        margin-left: auto;
    }

    .settings-container.wrapper {
        padding: 0.1in 0;
        margin: 0;

        ul {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0.2in;
        }
    }

    .settings-container {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        .setting-container {
            display: flex;
            align-items: center;
        }

        select {
            margin: 2px;
        }
    }
}
