#sidebar {
    .search-wrapper {
        background-color: white;
        padding: 0;
        display: flex;
        overflow-y: auto;
    }

    .results-wrapper {
        background-color: white;
        padding: 0;
        display: flex;
        overflow-y: auto;
    
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
    
            li {
                border-bottom: 1px solid #ccc;
                padding: 5px;
            }
    
            li:last-child {
                border-bottom: none;
            }
        }
    }
    
    .results-wrapper.hidden {
        display: none;
    }
}
