.leaflet-control-floors {
        display: flex;
        flex-direction: column;
        
        a.selected {
            background-color: rgba(0, 0, 0, 0.2);
        }

        a {
            font-size: 16px;
        }
}
