@import "include_media";

$breakpoints: (phone: 640px,
               tablet: 1000px,
               desktop: 1024px) !default;

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
    background-color: rgba(0, 0, 0, 0);
    flex-grow: 1;
}

.hidden {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

h2 {
    margin-bottom: 0;
}

.draggable-pin {
    $size: 38px;
    width: $size !important;
    height: $size !important;
    border-radius: $size;
    background-color: #ffffff;
    color: #374b83;
    display: flex !important;
    margin-left: -($size / 2) !important;
    margin-top: -($size / 2) !important;

    border: 2px solid rgba(0, 0, 0, 0.2);

    * {
        margin: auto;
    }
}

$breakpoints: (phone: 640px,
               tablet: 1000px,
               desktop: 1024px);

@include media(">phone") {
    body {
        flex-direction: row;
    }

    .draggable-pin {
        width: 24px !important;
        height: 24px !important;
        margin-left: -12px !important;
        margin-top: -12px !important;
    }
}
